*
{
    padding: 0;
    margin: 0;
}

.fighters img
{
    height: 300px;
}

.fighters img:hover
{
    height: 300px;
    opacity: 0.9;
    transform: scale(0.99);
}

.fighters
{
    position: relative;
    z-index: -1;
    padding: 5%;
    text-align: center;
}

.fighters a
{
    text-decoration: none;
}

.fighters a:hover
{
    text-decoration: underline;
}
@media screen and (max-width:600px)
{
    .fighters img
    {
        height: 200px;
    }
}


 /* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 900px) and (max-width: 1200px) */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) and (max-width: 900px) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) and (max-width: 768px) */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) */