*
{
    padding: 0;
    margin: 0;
}
.India-After-Independence-main
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.India-After-Independence-section-1
{
    background-color: gray;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size:25px;
    border-bottom: 2px solid white ;
}
/* India-After-Independence-section-2 */
.India-After-Independence-section-2 h2
{
    border-bottom: 1px solid black ;
    width: 365px;
    font-size: 30px;
}
.India-After-Independence-section-2 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-2-img-1 img
{
    width: 80%;
}
.India-After-Independence-section-2-img-1
{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------ */
.India-After-Independence-section-3 h2
{
    margin-top: 20px;
    border-bottom: 1px solid black ;
    width: 340px;
    font-size: 30px
}
.India-After-Independence-section-3 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-3-img-2 img
{
    width: 80%;
}
.India-After-Independence-section-3-img-2
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.India-After-Independence-section-3-img-3 img
{
    width: 80%;
}
.India-After-Independence-section-3-img-3
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.India-After-Independence-section-3-img-3 h6
{
    width: 75%;
}
/* --------------------------------- */
.India-After-Independence-section-4 h2
{
    margin-top: 20px;
    border-bottom: 1px solid black ;
    width: 435px;
    font-size: 30px;
}
.India-After-Independence-section-4 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-4-img-4 img
{
    width: 80%;
}
.India-After-Independence-section-4-img-4
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.India-After-Independence-section-4-img-5 img
{
    width: 80%;
}
.India-After-Independence-section-4-img-5
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.India-After-Independence-section-4-img-6 img
{
    width: 80%;
}
.India-After-Independence-section-4-img-6
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ----------------------------- */
.India-After-Independence-section-5
{
    margin-top: 20px;   
}
.India-After-Independence-section-5 h2
{
    margin-top: 20px;
    border-bottom: 1px solid black ;
    width: 370px;
    font-size: 30px
}
.India-After-Independence-section-5-img-7 img
{
    width: 80%;   
}
.India-After-Independence-section-5-img-7
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-5 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-5-img-8 img
{
    width: 80%;
}
.India-After-Independence-section-5-img-8
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.India-After-Independence-section-5-img-9 img
{
    width: 80%;
}
.India-After-Independence-section-5-img-9
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.India-After-Independence-section-5-img-9 h6
{
    width: 80%;
}
.India-After-Independence-section-5-img-10 img
{
    width: 80%;
}
.India-After-Independence-section-5-img-10
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* end */

/* India-After-Independence-section-6 */
.India-After-Independence-section-6
{
    margin-top: 20px;   
}
.India-After-Independence-section-6 h4
{
    margin-top: 20px;
    border-bottom: 1px solid black ;
    width: 620px;
    font-size: 30px
}
.India-After-Independence-section-6 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-6-img-11 img
{
    width: 50%;   
}
.India-After-Independence-section-6-img-11
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-6-img-11 h6
{
    width: 50%;
}
.India-After-Independence-section-6-img-12 img
{
    width: 80%;   
}
.India-After-Independence-section-6-img-12
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-6-img-12 h6
{
    width: 80%;
}
/* end */
.India-After-Independence-section-7
{
    margin-top: 20px;   
}
.India-After-Independence-section-7 h2
{
    margin-top: 20px;
    border-bottom: 1px solid black ;
    width: 380px;
    font-size: 30px
}
.India-After-Independence-section-7 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-7-img-13 img
{
    width: 80%;   
}
.India-After-Independence-section-7-img-13
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-7-img-13 h6
{
    width: 80%;
}


@media only screen and (min-width: 600px) and (max-width: 768px)
{

    .India-After-Independence-main
{
    margin-left: 0px;
    padding-left: 60px;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

    /* India-After-Independence-section-6 */
.India-After-Independence-section-6
{
    margin-top: 20px;   
}
.India-After-Independence-section-6 h4
{
    margin-top: 20px;
    border-bottom: none ;
    width: 100%;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
}
.India-After-Independence-section-6 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-6-img-11 img
{
    width: 50%;   
}
.India-After-Independence-section-6-img-11
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-6-img-11 h6
{
    width: 100%;
}
.India-After-Independence-section-6-img-12 img
{
    width: 80%;   
}
.India-After-Independence-section-6-img-12
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-6-img-12 h6
{
    width: 100%;
}
/* end */
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
 
    .India-After-Independence-main
{
    /* margin: 10px; */
    padding: 20px 12px 20px 24px;
    margin-left: 0px;
    /* padding-left: 60px; */
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: justify;
}
.India-After-Independence-section-2 h2
{
    border: none;
    width: 100%;
}
.India-After-Independence-section-2
{
    width: 100%;
}
.India-After-Independence-section-1 h1
{
    font-size: 25px;
    text-align: center;
    width: 100%;
}
.India-After-Independence-section-4 h2
{
    width: 100%;
    border: none;

}

.India-After-Independence-section-4
{
    width: 100%;
}
    /* India-After-Independence-section-6 */
.India-After-Independence-section-6
{
    margin-top: 20px;   
}
.India-After-Independence-section-6 h4
{
    margin-top: 20px;
    border-bottom: none ;
    width: 100%;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
}
.India-After-Independence-section-6 p
{
    padding-top: 10px;
    font-size: 25px;
    text-align: justify;
}
.India-After-Independence-section-6-img-11 img
{
    width: 50%;   
}
.India-After-Independence-section-6-img-11
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-6-img-11 h6
{
    width: 100%;
}
.India-After-Independence-section-6-img-12 img
{
    width: 80%;   
}
.India-After-Independence-section-6-img-12
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.India-After-Independence-section-6-img-12 h6
{
    width: 100%;
}
.India-After-Independence-section-5 h2
{
    border: none;
    width: 100%;
}
.India-After-Independence-section-3 h2
{
    border: none;
    width: 100%;
}
.India-After-Independence-section-3
{
    width: 100%;
}
.India-After-Independence-section-5
{
    width: 100%;
}
.India-After-Independence-section-7 h2
{
    border: none;
    width: 100%;
}
.India-After-Independence-section-7
{
    width: 100%;
}
/* end */
}
/* Extra small devices (phones, 600px and down) */