*
{
    padding: 0;
    margin: 0;
}
/* nav */
/* state-div-main */
.state-div-main
{
    padding-top:50px ;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
/* state-div-mid-div-1 */
.state-div-mid-div-1
{
    margin-top: 50px;
    padding: 10px 50px;
}
.state-div-mid-div-1 ul
{
    font-weight: bold;
    line-height: 40px;
}
.state-div-mid-div-1 li:hover
{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.01);
}
.state-div-mid-div-1 h4
{
    color: red;
    font-weight: bold;
}
/* ----------------------------------- */

/* state-div-mid-div-2 */
.state-div-mid-div-2
{
    margin-top: 10px;
}
/* section all */
.state-div-mid-div-2 section
{
    padding: 10px 0;
}
/* state-section-2 */
.state-section-2 table tr td 
{
    border: 1px solid black ;
    padding: 15px 30px;
    text-align: center;  
}
.state-section-2 th
{
    padding: 15px 30px;
    text-align: center;
    border: 1px solid black;
}
.state-section-2 a
{
    text-decoration: none;
}
:root
{
    --color-1: green;
    --color-2: white;
    --color-3: orangered;
}
.state-section-2 a:hover
{
    color:transparent;
    background: linear-gradient(1deg, var(--color-1) 30%, var(--color-2) 40%,var(--color-3) 35% );
    background-clip:text;
}
/* state-section-3 */
.state-section-3 table tr td
{
    border: 1px solid black;
    padding: 10px 40px;
    text-align: center;
}
.state-section-3 th
{
    padding: 10px 40px;
    border: 1px solid black;
    text-align: center;
}
/* state-section-5 */
.state-section-5 table tr td
{
    border: 1px solid black;
    padding: 10px;
}
.state-section-5 th
{
    border: 1px solid black;
    padding: 10px;
}
/* state-section-6 */
.state-section-6 table tr td
{
    border: 1px solid black;
    padding: 5px 10px;
}
.state-section-6 th
{
    border: 1px solid black;
    padding: 5px 10px;
}
@media screen and (max-width:900px) and (min-width:500px)
{
    /* footer */
.footer
{
    /* padding: 20px 0; */
    display: block;
    background-color: rgb(238, 167, 35);
    /* top: 1900px; */
}
.footer-grid-1 img
{
    /* margin-left: 100px; */
    padding-bottom: 20px;
}
.footer
{
    width: 780px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: white;
    font-weight: bold;
}
.footer li
{
    list-style-type: none;
}
.footer a
{
    text-decoration: none;
}
.footer a:hover
{
    color:transparent;
    background: linear-gradient(1deg, var(--color-1) 30%, var(--color-2) 40%,var(--color-3) 35% );
    background-clip:text;
}
.footer-1
{
    text-align: center;
}
.footer-2 ul
{
    display: flex;
    justify-content:center;
    align-items:baseline;
    /* gap: 20px; */
}
}
@media screen and (max-width:500px) and (min-width:400px)
{
    .state-div-main
{
    padding-top:50px ;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto auto; */
    gap: 20px;
}
.state-div-mid-div-2
{
    margin-top: 10px;
}
/* section all */
.state-div-mid-div-2 section
{
    padding: 10px 0;
}
/* state-section-2 */
.state-section-2 table tr td 
{
    border: 1px solid black ;
    padding: 5px 5px;
    text-align: center;  
}
.state-section-2 th
{
    padding: 5px 3px;
    text-align: center;
    border: 1px solid black;
}
.state-section-2 a
{
    text-decoration: none;
}
:root
{
    --color-1: green;
    --color-2: white;
    --color-3: orangered;
}
.state-section-2 a:hover
{
    color:transparent;
    background: linear-gradient(1deg, var(--color-1) 30%, var(--color-2) 40%,var(--color-3) 35% );
    background-clip:text;
}
.state-section-4 img
{
    width: 480px;
}
/*  */
}
